@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

html, body, #root, .app {
  height: 100vh;
}

.app {
  background: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.information-form {
  max-width: 1000px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.navigation-form {
  padding: 40px 0;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #48a5ea;
}

.arrow {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -99999px;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  transition-duration: 1000ms;
}

.arrow:hover {
  transform: scale(1.3) rotate(1turn);
}

.arrow:after {
  content: '';
  width: 12px;
  height: 16px;
  position: absolute;
  background-size: cover;
  background: url("img/front.png") no-repeat 0 0;
  top: 9px;
  left: 12px;
}

.arrow-down:after {
  transform: rotate(180deg);
}

.form,
.next-step {
  width: 85%;
  padding: 5%;
  box-sizing: border-box;
}

.next-step  {
  min-height: 657px;
  width: 1000px; /*временная ширина, пока нету контента*/
}

.main-title {
  font-family:"Roboto", sans-serif;
  font-weight: 500;
  color: #48a5ea;
  margin: 0 0 40px 0;
}

.form__content {
  padding: 40px 0 0 0;
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.label {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  color: #b0b0b0;
}

.input,
.form__countries {
  color: black;
  font-size: 17px;
  border: none;
  width: 360px;
  padding: 13px 0;
  border-bottom: 1px solid #d8d8d8;
}

.input:hover {
  border-bottom: 1px solid #48a5ea;
  transition: 0.5s;
}

.input:focus {
  outline: none;
  border-color: #48a5ea;
}

.input:focus + .label {
  color: #48a5ea;
}

select:focus  {
  outline: none;
}

.input::-webkit-input-placeholder {
  color: black;
  font-size: 17px;
}
.input::-moz-placeholder  {
  color: black;
  font-size: 17px;
}
.input:-moz-placeholder {
  color: black;
  font-size: 17px;
}
.input:-ms-input-placeholder {
  color: black;
  font-size: 17px;
}

.form__section {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  margin-bottom: 30px;
}

.form__reset {
  border: none;
  background: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #b0b0b0;
  transition: all 0.6s;
  position: relative;
}

.form__reset:hover {
  color: #48a5ea;
}

.form__reset:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: #b0b0b0;
  transition: all 0.3s;
}

.form__reset:hover:before {
  width: 100%;
  left: 0;
  background: #48a5ea;
}

.form__continue {
  width: 120px;
  padding: 12px;
  text-align: center;
  border: none;
  background: #48a5ea;
  color: #ffffff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  border-radius: 23px;
}

.form__reset:focus,
.form__continue :focus {
  outline: none;
}

.form__reset:hover,
.form__continue:hover {
  cursor: pointer;
}

.form__continue:hover {
  background: #3d8ac4;
  transition: 0.4s;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
}

.form__countries {
  background: none;
  border-radius: 0;
  height: 44px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("img/down-arrow-select.png") no-repeat center right;
  background-size: 16px 14px;
}

.form__section--city {
  flex-direction: row;
  width: 362px;
  justify-content: space-between;
}

.form__changing-city {
  width: 160px;
  display: flex;
  flex-direction: column-reverse;
}


.form__places {
  width: 160px;
}

.animation-block {
  display: flex;
  flex-direction: column;
  width: 14px;
  align-items: center;
}

.animation-block__element {
  display: block;
  width: 6px;
  height: 6px;
  background: #ffffff;
  text-indent: -999999px;
  border-radius: 50%;
  margin-bottom: 6px;
}

.active-element {
  background: url("img/img.png") no-repeat 0 0;
  height: 21px;
  width: 14px;
}

.popup-reset .main-title {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.popup-reset {
  background: #e8e8e8;;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

@media screen and  (max-width: 768px) {
  html, body, #root, .App {
    height: auto;
  }
}

@media screen and  (max-width: 320px) {
  .App {
    display: block;
  }

  .input,
  .form__section,
  .form__countries,
  .form__changing-city {
    width: 100%;
  }

  .form__section--city {
    flex-direction: column;
  }

  .navigation-form {
    width: 20%;
  }
}
